#optionsBody{
	width:600px;
	height:300px;
}
#title{
	width:600px;
	height:50px;
	background-color: #565656;
	color: #D7CEC7;
	font-family: Century Gothic, Helvetica;	
	font-size: 24px;
	text-align: center;
	vertical-align:middle;
	line-height: 50px;
	text-decoration:underline;
}
.body{
	width:525px;
	height:50px;
	background-color: #565656;
	color: #D7CEC7;
	font-family: Century Gothic, Helvetica;	
	font-size: 18px;
	padding-left: 75px;
	text-align: left;
	vertical-align:middle;
	line-height: 50px;
	
}
.content{
	width:265px;
	height:300px;
	background-color: #565656;
	
	overflow-y: auto;
}
.txtBoxes{
	padding: 8px;
}
input[type = text]{
	width: 220px;
	background-color:#D7CEC7;
	color:#76323F;
	border-radius: 15px;
	border-color:#D7CEC7;
	padding: 5px;
	position: relative;
	margin-left: 5px;
	font-weight: bold;
}
#status{
	width: 10px;
	height:10px;
}
.removeText{
	width: 10px;
	height: 10px;
	background-color: #C09F80;
	color: #76323F;
	font-family: Century Gothic, Helvetica;	
	font-size: 8px;
	text-align: center;
	vertical-align:middle;
	line-height: 10px;
	border-radius: 1px;
	cursor: pointer;
	position: relative;
	margin-left: 1px;
	margin-top: -10px;
	
}
ul{
	list-style-type: none;
	padding-left:0;
}
ul li{
	padding: 5px;
	margin-left: 2px;
}
.add{
	width: 30px;
	height: 30px;
	background-color: #C09F80;
	color: #76323F;
	font-family: Century Gothic, Helvetica;	
	font-size: 30px;
	text-align: center;
	vertical-align:middle;
	line-height: 30px;
	border-radius: 5px;
	
}
#addBtn{
	position:absolute;
	margin-left: 5px;
	margin-top: 20px;
	cursor: pointer;
}
#firstx{
	position:absolute;
	margin-left: 5px;
	margin-top: 65px;
	cursor: pointer;
}
.removeText{
	width: 10px;
	height: 10px;
	background-color: #C09F80;
	color: #76323F;
	font-family: Century Gothic, Helvetica;	
	font-size: 8px;
	text-align: center;
	vertical-align:middle;
	line-height: 10px;
	border-radius: 1px;
	cursor: pointer;
	position: relative;
	margin-left: 1px;
	margin-top: -10px;
	
}

#timeInput{
	width: 150px;
	background-color:#D7CEC7;
	color:#76323F;
	border-radius: 15px;
	border-color:#D7CEC7;
	padding: 5px;
	position: relative;
	margin-left: 25px;
	margin-top: 0px;
	font-weight: bold;
}

.button {
	width: 150px;
	height: 30px;
	background-color: #D7CEC7;
	color: #76323F;
	font-family: Century Gothic, Helvetica;	
	font-size: 18px;
	text-align: center;
	vertical-align:middle;
	line-height: 30x;
	border-radius: 5px;
	cursor: pointer;
}
#save{
	position: absolute;
	vertical-align:middle;
	margin-left: 30px;
	margin-top: 100px;
	
}

#back{
	position: absolute;
	vertical-align:middle;
	margin-left: 30px;
	margin-top: 140px;
}

.moreOpt{
	width: 200px;
	height: 300 px;
	background-color:#565656;
	margin-left: 100px;

	
}
a{
	text-decoration: none;
}

#focustime{
	width:137px;
	height:50px;
	background-color: #565656;
	color: #D7CEC7;
	font-family: Century Gothic, Helvetica;	
	font-size: 18px;
	position: relative;
	margin-left: 63px;
	margin-top: -35px;
}
#microbreaks{
	width:100px;
	height:50px;
	background-color: #565656;
	color: #D7CEC7;
	font-family: Century Gothic, Helvetica;	
	font-size: 18px;
	position: absolute;
	margin-left: 5px;
	margin-top: 35px;
}

.leftContent{
	width: 340px;
	height:300px;
	background-color: #565656;
	position: fixed;
	margin-left: 260px;
	margin-top: -300px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D7CEC7;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch{
	margin-left: 155px;
	margin-top: 35px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #76323F;
  transition: .4s;
}

input:checked + .slider {
  background-color: #C09F80;
 
}

input:focus + .slider {
  box-shadow: 0 0 1px #76323F;
}

input:checked + .slider:before {
  transform: translateX(13px);
}


.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

